# Dependencies
node_modules/

# Build
dist/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Data
*.db
data/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel

# Railway
.railway

# Hardhat / generated
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/
